.message {

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px;
}

.imageAndText img {
    margin: 0 680px 0 0;
    height: 48px;
    width: 48px;
}

.text {

}

.text:after {

}

.name {
    margin: 0 10px 0 0;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: #0066CC;
    color: white;
    border-radius: 10px 10px 0 0 ;
}

.messageText {
    margin: 0 10px 0 0;
    padding: 0 10px 5px 10px;
    font-size: 16px;
    background-color: #0066CC;
    color: white;
    border-radius: 0 0 10px 10px;
}

.time {
    height: 50px;
    width: 50px;
    font-size: 10px;
    margin: 0 0 0 1063px;
    padding: 10px;
}