.sidebar {
    color: white;
}

.sidebar.open {
}

.background {
}

.nav {
}

.nav a {
    margin: 10px;
    color: blue;
    text-decoration: none;
}

.nav a:hover {
    color: green;
}

.nav a.active {
    color: red;
}
.close {
}

.close img {
}
