.item {
    line-height: 30px;
}

.item:last-of-type {
}

.users {
    margin: 10px 0 0 0;
}

.buttonsContainer {
    margin: 10px 0;
    display: flex;
    column-gap: 10px;
    align-self: end;
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.thead {
    background-color: #e5e5e5;
}

.nameCol {
    padding: 10px;
}

.ageCol {
    padding: 10px 50px 10px 10px;
}