.sendForm {
    display: flex;
    align-items: center;
}

.textarea {
    padding: 10px;
    margin: 10px;
    border-style: none;
    border-radius: 20px;
    background-color: #F5F7FB;
    resize: none;
    min-height: 40px;
    width: 976px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
}

.button {
    width: 120px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    background-color: #0066CC;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.button:hover {
    border: 1px solid red;
}
.button:active {

}
