.button {

    padding: 5px 20px;
    color: white;
    border-style: none;
    border-radius: 5px;
}

.disabled {
    background-color: green;
}

.secondary {
    background-color: gray;
}

.default {
background-color: blue;
}

.red {
    background-color: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {

}


.default:active {
}

.secondary:active {

}

.red:active {

}

.button:disabled {
}
